---
import Button from "../components/Button.astro";
import Layout from "../layouts/layout.astro";
import { getRandomMemeImage } from "../utils/utils";
---

<Layout>
  <div class="container mx-auto px-4 py-10">
    <div class="text-center mb-10">
      <img
        id="memeImage"
        src={getRandomMemeImage()}
        alt="Star wars meme"
        class="mx-auto w-auto md:w-96"
        loading="eager"
      />
    </div>
    <Button />
  </div>
</Layout>

<script>
  import { getRandomMemeImage } from "../utils/utils";

  const image: any = document.getElementById("memeImage");
  document.getElementById("siguiente")?.addEventListener("click", function () {
    image.src = getRandomMemeImage();
  });
</script>
