---
import Layout from "../layouts/layout.astro";
import { getRandomMemeImage } from "../utils/utils";
---

<Layout>
  <div class="container mx-auto px-4 py-10">
    <div class="text-center mb-10">
      <img
        id="memeImage"
        src={getRandomMemeImage()}
        alt="Star wars meme"
        class="mx-auto w-auto md:w-96"
        loading="eager"
      />
    </div>
    <div class="flex items-center justify-center mt-10">
      <div
        id="siguiente"
        class="hover:text-white p-4 rounded-lg shadow-md cursor-pointer option text-black text-center bg-yellow-300 font-bold"
      >
        Siguiente
      </div>
    </div>
  </div>
</Layout>

<script>
  import { getRandomMemeImage } from "../utils/utils";

  const image: any = document.getElementById("memeImage");
  document.getElementById("siguiente")?.addEventListener("click", function () {
    image.src = getRandomMemeImage();
  });
</script>
