---
import Layout from "../layouts/layout.astro";
import { characters } from "../bd/characters";
import Button from "../components/Button.astro";

const randomCharacter = () =>
  characters[Math.floor(Math.random() * characters.length)];

const { imageUrl, name } = randomCharacter();

let options: Array<String> = [name];
while (options.length < 4) {
  const { name } = randomCharacter();
  if (!options.find((n) => n === name)) {
    options.push(name);
  }
}

options = options.sort(() => Math.random() - 0.5);
---

<Layout>
  <div class="container mx-auto px-4 py-10">
    <div class="text-center mb-10">
      <img
        src={imageUrl}
        alt="Personaje"
        class="mx-auto h-64 w-auto"
        loading="eager"
      />
    </div>
    <h1 class="text-center text-4xl text-yellow-300 font-extrabold">
      ¿Quién es?
    </h1>
    <div class="flex items-center justify-center w-full">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-10">
        {
          options.map((option) => (
            <div
              class="bg-white p-4 rounded-lg shadow-md cursor-pointer option text-black text-center"
              data-name={option}
            >
              {option}
            </div>
          ))
        }
      </div>
    </div>
    <Button />
  </div>
  <div id="name" class="hidden">{name}</div>
</Layout>

<script>
  const name = document.getElementById("name")?.innerText;
  const options = document.querySelectorAll(".option");

  options.forEach((option) => {
    option.addEventListener("click", function (event) {
      const selectedName = (event.target as any)?.outerText;
      (event?.target as any)?.classList?.remove("bg-white");
      (event?.target as any)?.classList?.add(
        selectedName === name ? "bg-green-500" : "bg-red-500"
      );
    });
  });

  document.getElementById("siguiente")?.addEventListener("click", function () {
    window.location.reload();
  });
</script>
