---
import { Image } from "astro:assets";
import bannerImage from "../images/banner.png";
---

<section
  class="animate-zoom-in animate-delay-40000 animate-duration-slower flex justify-center items-center py-10"
>
  <Image
    src={bannerImage}
    alt="Star Wars Day"
    class="md:w-2/4 sm:w-1/2"
    loading="lazy"
  />
</section>
