---
import { Image } from "astro:assets";
---

<section
  class="animate-zoom-in animate-delay-40000 animate-duration-slower flex justify-center items-center py-10"
>
  <img
    src="/banner.png"
    alt="Star Wars Day"
    class="md:w-2/4 sm:w-1/2"
    loading="eager"
  />
</section>
