---
import Github from "../icons/github.astro";
---

<header class="flex justify-center">
  <div
    class="md:w-1/6 bg-gray-300 flex items-center justify-between my-6 mx-4 px-4 py-1 rounded-md shadow-lg"
  >
    <nav class="space-x-4">
      <a
        class="text-base cursor-pointer text-black no-underline font-bold"
        href="/">Inicio</a
      >
      <a
        class="text-base cursor-pointer text-black no-underline font-bold"
        href="/quiz">Quiz</a
      >
    </nav>
    <div class="flex space-x-4">
      <div class="bg-gray-300 py-1 px-2 inline rounded-md">
        <a
          href="https://github.com/cristotodev/May-the-4th"
          target="_blank"
          aria-label="Icono Github"
        >
          <Github stroke="#000000" />
        </a>
      </div>
    </div>
  </div>
</header>
