---
import SocialButtons from "../components/SocialButtons.astro";
---

<footer class="pb-5 text-center">
  <div class="social-links flex justify-center">
    <SocialButtons />
  </div>
</footer>
<style>
  footer {
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
  }
</style>
